<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.people_of_delivery.store.dao.StoreDAO">
	<select id="existStoreByname" parameterType="string" resultType="boolean">
		SELECT
			COUNT(1)
		FROM
			`store`
		WHERE
			`name` = #{name}
	</select>
	
	<select id="existStoreByRegistrationNumber" parameterType="string" resultType="boolean">
		SELECT
			COUNT(1)
		FROM
			`store`
		WHERE
			`registrationNumber` = #{registrationNumber}
	</select>
	
	<select id="existStoreByPhoneNumber" parameterType="string" resultType="boolean">
		SELECT
			COUNT(1)
		FROM
			`store`
		WHERE
			`phoneNumber` = #{phoneNumber}
	</select>
	
	<select id="selectStoreById" parameterType="int" resultType="com.people_of_delivery.store.model.Store">
		SELECT 
			`id`
			,`userId`
			,`name`
			,`category`
			,`registrationNumber`
			,`phoneNumber`
			,`minimumPrice`
			,`openTime`
			,`closeTime`
			,`holiday`
			,`deliveryArea`
			,`deliveryCost`
			,`facilities`
			,`storeImagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			`store`
		WHERE
			`id` = #{storeId}
	</select>
	
	<select id="selectStoreListByUserId" parameterType="int" resultType="com.people_of_delivery.store.model.Store">
		SELECT 
			`id`
			,`userId`
			,`name`
			,`category`
			,`registrationNumber`
			,`phoneNumber`
			,`minimumPrice`
			,`openTime`
			,`closeTime`
			,`holiday`
			,`deliveryArea`
			,`deliveryCost`
			,`facilities`
			,`storeImagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			`store`
		WHERE
			`userId` = #{userId}
	</select>
	
	<select id="selectStoreListByCategory" parameterType="string" resultType="com.people_of_delivery.store.model.Store">
		SELECT 
			`id`
			,`userId`
			,`name`
			,`category`
			,`registrationNumber`
			,`phoneNumber`
			,`minimumPrice`
			,`openTime`
			,`closeTime`
			,`holiday`
			,`deliveryArea`
			,`deliveryCost`
			,`facilities`
			,`storeImagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			`store`
		WHERE
			`category` = #{category}
	</select>
	
	<select id="selectMenuListByStoreId" parameterType="int" resultType="com.people_of_delivery.store.model.Menu">
		SELECT 
			`id`
			,`storeId`
			,`category`
			,`name`
			,`price`
			,`explanation`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			`menu`
		WHERE
			`storeId` = #{storeId}
	</select>
	
	<insert id="insertStore"  parameterType="map">
		INSERT INTO `store`
		(
			`userId`
			,`name`
			,`category`
			,`registrationNumber`
			,`phoneNumber`
			,`minimumPrice`
			,`openTime`
			,`closeTime`
			,`holiday`
			,`deliveryArea`
			,`deliveryCost`
			,`facilities`
			,`storeImagePath`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{userId}
			,#{name}
			,#{category}
			,#{registrationNumber}
			,#{phoneNumber}
			,#{minimumPrice}
			,#{openTime}
			,#{closeTime}
			,#{holiday}
			,#{deliveryArea}
			,#{deliveryCost}
			,#{facilities}
			,#{storeImagePath}
			,NOW()
			,NOW()
		)
	</insert>
	
	<insert id="createMenu" parameterType="map">
		INSERT INTO `menu`
		(
			`storeId`
			,`category`
			,`name`
			,`price`
			,`explanation`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{storeId}
			,#{category}
			,#{name}
			,#{price}
			,#{explanation}
			,#{imagePath}
			,NOW()
			,NOW()
		)
	</insert>
	
	<update id="updateStore" parameterType="map">
		UPDATE
			`store`
		SET
			`minimumPrice` = #{minimumPrice}
			,`openTime` = #{openTime}
			,`closeTime` = #{closeTime}
			,`holiday` = #{holiday}
			,`deliveryArea` = #{deliveryArea}
			,`deliveryCost` = #{deliveryCost}
			,`facilities` = #{facilities}
			,`storeImagePath` = #{storeImagePath}
		WHERE
			`userId` = #{userId}
			AND `id` = #{storeId}
		
	</update>
</mapper>