<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.people_of_delivery.user.dao.UserDAO">
	<select id="existUserByLoginId" parameterType="string" resultType="boolean">
		SELECT
			COUNT(1)
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
	
	<select id="selectUserByLoginId" parameterType="string" resultType="com.people_of_delivery.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`salt`
			,`name`
			,`nickName`
			,`phoneNumber`
			,`email`
			,`type`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
	
	<select id="selectUserByLoginIdAndPassword" parameterType="map" resultType="com.people_of_delivery.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`salt`
			,`name`
			,`nickName`
			,`phoneNumber`
			,`email`
			,`type`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
			AND `password` = #{password}
	</select>
	
	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		(
			`loginId`
			,`password`
			,`salt`
			,`name`
			,`nickName`
			,`phoneNumber`
			,`email`
			,`type`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{loginId}
			,#{password}
			,#{salt}
			,#{name}
			,#{nickName}
			,#{phoneNumber}
			,#{email}
			,"user"
			,NOW()
			,NOW()
		)
	</insert>
	
	<insert id="insertBossUser" parameterType="map">
		INSERT INTO `user`
		(
			`loginId`
			,`password`
			,`salt`
			,`name`
			,`nickName`
			,`phoneNumber`
			,`email`
			,`type`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{loginId}
			,#{password}
			,#{salt}
			,#{name}
			,#{nickName}
			,#{phoneNumber}
			,#{email}
			,"boss"
			,NOW()
			,NOW()
		)
	</insert>
	
	<update id="updateUserByuserId" parameterType="map">
		UPDATE `user`
		SET 
			`name` = #{name}
			, `nickName` = #{nickName}
			, `phoneNumber` = #{phoneNumber}
			, `email` = #{email}
		WHERE
			`id` = #{userId}
	</update>
</mapper>