@charset "UTF-8";
#wrap {width: 1200px; margin: auto;}
.gnb {height: 100px; background-color: #39C9CE;}
.search-box {height: 50px; background-color: #41EA65;}
.search {height: 30px;}
.select {width: 306px; height: 306px; border: solid 3px #39C9CE;}
.store-text {font-size: 20px;}

.sign-up-select-box {width: 700px; height: 500px; margin: auto;}
.boss-select-box {width:300px; height:300px; border-radius: 30px; background-color : #41EA65;}
.user-select-box {width:300px; height:300px; border-radius: 30px; background-color : #39C9CE;}

.sign-up {width: 600px; margin: auto;}
.sign-up-box {width: 600px; background-color : WhiteSmoke;}
.login {width: 600px; margin: auto;}
.login-box {width: 600px; height: 230px; background-color : WhiteSmoke;}
.button-box {width: 220px; margin: auto;}
.buttons {width: 100px;}

.menu-category {width: 890px; margin: auto;}
.menu-category-box {width: 890px;}
.category-img-box {width: 150px; height: 150px;}
.category-name {width: 150px; font-size: 20px;}

.store-list {width: 1000px; margin: auto;}
.store-list-box {width: 1000px;}
.store {background-color : WhiteSmoke;}
.store-box {width: 200px; font-size: 20px;}

.modal-content {width: 600px; margin: auto;}

.update-user-inform {width: 600px; margin: auto;}
.update-user-inform-box {background-color : WhiteSmoke;}

.create-store {width: 800px; margin: auto;}
.create-store-box {background-color : WhiteSmoke;}

.create-menu {width: 900px; margin: auto;}
.create-menu-box {background-color : WhiteSmoke;}

a {text-decoration-line: none; color:#000;}
a:hover {text-decoration:none; color:#000;}
.footer {width: 1200px; height: 100px;}
